<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <div class="container">
      <aside class="sidebar">
        <nav>
          <ul>
            <li><a href="{{ '/' | relative_url }}">Home</a></li>
            <li><a href="{{ '/story.html' | relative_url }}">Story</a></li>
            <!-- Add more menu items here -->
          </ul>
        </nav>
      </aside>
      <main class="page-content" aria-label="Content">
        <div class="wrapper">
          {{ content }}
        </div>
      </main>
    </div>

    {%- include footer.html -%}

    {%- include sub-footer.html -%}

  </body>

</html>